<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="你身边的资源助手"/>
    <meta name="description" content="图片/音乐/电影搜索"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>资源助手 - 为您提供快捷高效的服务</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/settings.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none;
        }

        #inp_search {
            width: 200px;
            height: 30px;
        }

        #bdsug {
            width: 200px;
            border: solid 1px rgba(80, 80, 80, 0.3);
            margin: 0;
            padding: 0;
            position: absolute;
        }

        #bdsug ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #bdsug ul li {
            height: 30px;
            line-height: 30px;
            background-color: #fff;
        }

        #bdsug ul li:hover {
            background-color: #f0f0f0;
        }

        #show {
            border: solid 1px rgba(80, 80, 80, 0.3);
            width: 400px;
            height: auto;
        }

        .item {
            overflow: auto;
            margin-bottom: 5px;
            padding: 5px;
            border-bottom: solid 1px rgba(80, 80, 80, 0.3);
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        #bottom {
            position: fixed;
            bottom: 10px;
            margin: 0 auto;
        }
    </style>

</head>

<body style="background-color:#f0f0f0;">
<div class="container">
    <button class="btn btn-default" id="btn_login" type="button">登陆</button>
    <button class="btn btn-default" id="btn_register" type="button">注册</button>
    <form class="form-horizontal" method="get" id="search" role="form">
        <div class="input-group">
            <input type="text" name="kw" id="inp_search" placeholder="歌曲名或专辑名进行搜索" class="form-control" value=""
                   autocomplete="off">
            <button class="btn btn-default" id="btn_search" type="button">搜索</button>
            <div id="bdsug" style="display: none;">
                <ul>
                    {#   <li data-key="" class="bdsug-store bdsug-overflow"><span>sdfasdf</span></li>#}
                </ul>
            </div>
        </div>
    </form>
    <div>
        <label for="">类别</label>
        <input type="radio" name="type" id="music" checked>音乐
        <input type="radio" name="type" id="movie">电影
        <input type="radio" name="type" id="picture">图片
    </div>
    <div id="show">
        <div class="item">
            <div class="left">
                <a href="">你好</a>
                <p>
                    <span>歌手: xxx</span>
                    <span>时长：xxx</span>
                    <span>下载:xxx</span>
                </p>
            </div>
            <div class="right">
                <p>
                    <span>评星</span>
                    <img src="/static/image/空星.png">
                    <img src="/static/image/空星.png">
                    <img src="/static/image/空星.png">
                    <img src="/static/image/空星.png">
                    <img src="/static/image/空星.png">
                </p>
                <p>
                    <span>xx</span>个评分
                    <button>评分</button>
                </p>
            </div>
        </div>
    </div>
    <p id="bottom">本站不存储任何音频文件，数据来自各网站接口，仅供个人学习、研究或者欣赏</p>
</div>
<script>
    var current_type = 'music';
    $('#btn_search').on('click', function () {
        console.log(settings_url);
        // 根据当前类型，内容搜索
        search()
    });
    $('#music').on('click', function () {
        // 切换到music
        if (current_type !== 'music') {
            current_type = 'music';
            // 搜索music
            search()
        }
        $('#inp_search').attr('placeholder', '歌曲名或专辑名进行搜索')
    });
    $('#movie').on('click', function () {
        // 切换到电影
        if (current_type !== 'movie') {
            current_type = 'movie';
            // 搜索电影
            search()
        }
        $('#inp_search').attr('placeholder', '电影名进行搜索')
    });
    $('#picture').on('click', function () {
        // 切换到picture
        if (current_type !== 'picture') {
            // 搜索picture
            current_type = 'picture';
            search()
        }
        $('#inp_search').attr('placeholder', '关键字进行搜索')
    });
    $('#inp_search').on('input', function () {
        console.log('change');
        // 关键字改变，根据类型，获取实时关键字
        showContent(search_keyword());
    });

    $('#inp_search').on('focusin', function () {
        $('#bdsug').stop(true, true).css('display', 'block');
        if ($('#inp_search').val() === "") {
            // 显示历史记录
            showContent(getHistory());
        } else {
            // 根据当前关键字的实时关键字信息
            showContent(search_keyword());
        }
    });

    $('#inp_search').on('focusout', function () {
        $('#bdsug').stop(true, true).slideUp(300);
    });


    function register() {

    }

    function login() {

    }

    // 搜索具体内容
    function search() {
        // 保存历史记录
        storeHistory();
        // 发送消息
        var data = {
            {#type: current_type,#}
            operation: 1,
            keyword: $('#inp_search').val()
        };
        $.ajax({
            type: 'get',
            contentType: "application/json",
            dataType: "json",
            url: settings_url + current_type,
            data: data,
            success: function (result, status, xhr) {
                console.log(result);
                if (result.code === 200) {
                    switch (result.data.type) {
                        case 'music':
                            showMusic(result.data.Content);
                            break;
                        case 'movie':
                            showMovie(result.data.Content);
                            break;
                        case 'picture':
                            showPicture(result.data.Content);
                            break;
                        default:
                            break;
                    }
                } else {
                    alert(result.error)
                }
            }
        });
    }

    // 根据输入值，获取关键字列表
    function search_keyword() {
        var data = {
            {#type: current_type,#}
            operation: 0,
            keyword: $('#inp_search').val()
        };
        $.ajax({
            type: 'get',
            contentType: "application/json",
            dataType: "json",
            url: settings_url + current_type,
            data: data,
            success: function (result) {
                if (result.code === 200) {
                    return result.data
                }
            }
        });
    }


    var current_history_index = 1;
    var history_max_count = 10;

    // 保存本地历史
    function storeHistory() {
        if ($('#inp_search').val() !== "") {
            if (current_history_index > history_max_count) {
                current_history_index = 1
            }
            flag = true;
            for (let index = 1; index <= history_max_count; index++) {
                if ($('#inp_search').val() === window.localStorage.getItem('history' + index)) {
                    flag = false;
                    break
                }
            }
            if (flag === true) {
                window.localStorage.setItem('history' + current_history_index, $('#inp_search').val());
                current_history_index += 1
            }
        }
    }

    // 获取本地历史
    function getHistory() {
        token = window.localStorage.getItem('dnblog_token');
        username = window.localStorage.getItem('dnblog_user');
        if (token == null) {
            // 本地获取
            var history = [];
            for (let index = 1; index <= history_max_count; index++) {
                item = window.localStorage.getItem('history' + index);
                // console.log(item)
                if (item != null) {
                    history.push(item)
                }
            }
            return history
        } else {
            // 网络获取
            data = {
                username: username
            };
            $.ajax({
                type: 'get',
                contentType: "application/json",
                dataType: "json",
                url: settings_url + 'history',
                data: data,
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", token);
                },
                success: function (request) {
                    if (request.code === 200) {
                        console.log(request.data);
                        return request.data
                    } else {
                        alert(request.error)
                    }
                }
            });
        }
    }

    // 显示内容
    function showContent(content) {
        html1 = '';
        for (let index = 0; index < content.length; index++) {
            html1 += '<li data-key="" class="bdsug-store bdsug-overflow"><span>' + content[index] + '</span></li>';
        }
        $('#bdsug>ul').html(html1);
        // 对 元素 进行绑定
        $('#bdsug>ul li').each(function (event) {
            $(this).on('click', function () {
                // 显示在框中
                $('#inp_search').val($(this).children('span').text());
                // 搜索
                search()
            });
        });
    }


    function showMusic(musics) {

    }

    function showMovie(movies) {

    }

    function showPicture(pivtures) {

    }

</script>

</body>

</html>